
@import url('https://fonts.cdnfonts.com/css/product-sans');


:root {
    --color-1: #202020;
    --color-2: #e2b84c;
    --color-3: #bdc3c7;
    --color-4: #77f2a1;
}

.home {
    flex-wrap: wrap;
}

/*fuentes locales*/
*{
    font-family: 'Product Sans', sans-serif;
}

body {
    margin: 0%;
    height: 3000px;
}

html {
    min-width: fit-content;
    overflow: auto;
    background-color: var(--color-1);
}

li,
a,
h3 {
    font-family: Product sans;
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    margin: 0%;
}

header {
    display: flex;
    justify-content: end;
    /*ubica los botones al final*/
    align-items: center;
    padding: 15px 10%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: none;
    background-color: var(--color-1);
    position: relative;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    /*cada item individual*/
    /*lo pone uno debajo de otro*/
    display: inline-block;
    padding: 0px 20px;
}

/*--------------------------------------------------------*/
/*iconos*/
.fa-linkedin:hover {
    /*cuando tengo mi mouse sobre el*/
    color: rgb(45, 215, 161);
}

.fa-github:hover {
    /*cuando tengo mi mouse sobre el*/
    color: rgb(45, 215, 161);
}

.fa-instagram:hover {
    /*cuando tengo mi mouse sobre el*/
    color: rgb(45, 215, 161);
}

.fa-facebook:hover {
    /*cuando tengo mi mouse sobre el*/
    color: rgb(45, 215, 161);
}

/*--------------------------------------------------------*/
.yo {
    height: 100vh;
    width: 100%;
    background-color: var(--color-2);
}

@media (min-width: 200px) {
    .txt_1 {
        font-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .txt_yo {
        width: fit-content;
    }

}


@media (min-width: 400px) {
    .txt_1 {
        font-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .txt_yo {
        width: fit-content;
    }

}

@media (min-width: 720px) {
    .txt_1 {
        font-size: 140%;
        margin-left: auto;
        margin-right: auto;
    }

    .txt_yo {
        width: fit-content;
    }
}

@media (min-width: 1000px) {
    .txt_1 {
        font-size: 200%;
        margin-left: auto;
        margin-right: auto;
    }

    .txt_yo {
        width: fit-content;
    }
}

.habilidades {
    width: 100%;
    height: 130vh;
    background-color: var(--color-3);
}


/*SMALL CASE*/
@media (min-width: 200px) {
    .grid_habilidades {
        top: 100px;
        position: relative;
        width: fit-content;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .habilidades {
        height: 2200px;
    }

    /*grid de 1x3 para mis proyectos*/
    .grid_proyectos {
        top: 100px;
        position: relative;
        width: fit-content;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 30px;
    }

    .info_container {
        box-shadow: 5px 10px;
        border-radius: 10px;
        background-color: var(--color-2);
        text-align: center;
        padding: 30px;

        position: relative;
        top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 400px;
    }

    .proyectos {
        height: 1700px;
    }

    /*texto de todas las secciones excepto de la primera*/
    .txt_secciones {
        color: var(--color-1);
        position: relative;
        top: 50px;
        padding: 20px;
        width: fit-content;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .habilidades .txt_secciones,
    .sobre_mi .txt_secciones,
    .mapa .txt_secciones {
        color: #2c3e50;
    }

    .sobre_mi {
        height: 10%;
        width: 100%;
        background-color: var(--color-3);
    }

    .sobre_mi {
        height: 110vh;
        width: 100%;
    }

    .mapa {
        background-color: #bdc3c7;
        width: 100%;
        height: 900px;
    }
}

/*MEDIUM CASE*/
@media (min-width: 1100px) {
    .grid_habilidades {
        top: 100px;
        position: relative;
        width: fit-content;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .habilidades {
        height: 1400px;
    }

    .grid_proyectos {
        top: 100px;
        position: relative;
        width: fit-content;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 30px;
    }

    .info_container {
        box-shadow: 5px 10px;
        border-radius: 10px;
        background-color: var(--color-2);
        text-align: center;
        padding: 30px;

        position: relative;
        top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 790px;
        height: 400px;
    }

    /*texto de todas las secciones excepto de la primera*/
    .txt_secciones {
        position: relative;
        top: 50px;
        padding: 20px;
        width: fit-content;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .proyectos {
        height: 1300px;
    }

    .habilidades .txt_secciones,
    .sobre_mi .txt_secciones,
    .mapa .txt_secciones {
        color: #2c3e50;
    }

    .sobre_mi {
        height: 120vh;
        width: 100%;
    }

    .mapa {
        background-color: #bdc3c7;
        width: 100%;
        height: 900px;
    }
}

/*LARGE CASE*/
@media (min-width: 1200px) {

    /*grid de 3x3 para las cajas negras de habilidades*/
    /*si es mayor a 1300px se hacen 3 columnas*/
    .grid_habilidades {
        top: 100px;
        position: relative;
        width: fit-content;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .habilidades {
        height: 1000px;
    }

    .grid_proyectos {
        top: 100px;
        position: relative;
        width: fit-content;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 30px;
    }

    .info_container {
        box-shadow: 5px 10px;
        border-radius: 10px;
        background-color: var(--color-2);
        text-align: center;
        padding: 30px;

        position: relative;
        top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 940px;
        height: 400px;
    }

    /*texto de todas las secciones excepto de la primera*/
    .txt_secciones {
        position: relative;
        top: 50px;
        padding: 20px;
        margin-left: 10px;
        width: fit-content;
        left: 100px;
        font-size: 50px;
    }

    .proyectos {
        height: 930px;
    }

    .habilidades .txt_secciones,
    .sobre_mi .txt_secciones,
    .mapa .txt_secciones {
        color: var(--color-1);
    }

    .sobre_mi {
        height: 110vh;
        width: 100%;
    }

    .mapa {
        background-color: #bdc3c7;
        width: 100%;
        height: 900px;
    }
}

/*caja negra de cada habilidad*/
div.habilidad_container {
    box-shadow: 5px 10px;
    width: 300px;
    border-radius: 10px;
    background-color: #202020;
    text-align: center;
}

/*descripciones de las habilidades*/
.txthab {
    padding: 10px;

}


.proyectos {
    width: 100%;
    background-color: var(--color-2);
}



/*caja negra de cada proyecto*/
div.proyecto_container {
    box-shadow: 5px 10px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: #202020;
    text-align: center;
    flex: 2;
}

div.img_proyecto {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--color-3);
    text-align: center;
}

/*descripciones de los proyectos*/
.txtproy {
    padding: 20px;
}



/*texto de la primera seccion*/
.txt_1 {
    color: #202020;
    
    top: 60px;
    /*left: 40px;*/
    width: fit-content;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

div.txt_1 {
    display: flex;
    flex-direction: column;
}

div.img_habilidad {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--color-3);
    text-align: center;
}

/*
div.sobre_mi {
    height: 150vh;
    width: 100%;
}
*/

.info {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}

/*---TABLA---*/
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.txtnegro {
    color: #202020;
    font-size: small;
}

.container .table-row {
    color: #202020;
    font-size: small;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    color: #fff;
}


h2 small {
    font-size: 0.5em;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

/*header de la tabla*/
.responsive-table .table-header {
    background-color: var(--color-3);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .columna1 {
    flex-basis: 10%;
}

.responsive-table .columna2 {
    flex-basis: 40%;
}

.responsive-table .columna3 {
    flex-basis: 25%;
}

.responsive-table .columna4 {
    flex-basis: 25%;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .columna {
        flex-basis: 100%;
    }

    .responsive-table .columna {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table .columna:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.form {
    background-color: var(--color-2);
    height: 120vh;
    width: 100%;
}

.form_container {
    box-shadow: 5px 10px;
    border-radius: 10px;
    background-color: var(--color-3);
    text-align: center;
    padding: 30px;

    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

/*Formulario*/

.feedback-input {
    color: white;
    font-size: 18px;
    border-radius: 10px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--color-2);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    width: 100%;
    background: var(--color-2);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
}

[type="submit"]:hover {
    background: var(--color-1);
}

img {
    border: 5px solid var(--color-3);
    border-radius: 10px;
    padding: 5px;
    width: 250px;

}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.txt_yo {
    width: fit-content;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}

.map_container {
    box-shadow: 5px 10px;
    border-radius: 10px;
    background-color: var(--color-2);
    text-align: center;
    padding: 30px;

    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
}
div.mapouter{
    width: fit-content;
    height: fit-content;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    bottom: 30px;
    width: 350px;
    border-radius: 10px;
}

